@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  background-color: #fafafa;
  height: 100vh;

  transition: background 0.2s linear;
}

body.dark {
  background: #292c35;
  color: rgb(53, 220, 53);
}

.checkbox {
  opacity: 0;
  position: absolute;
}

.label {
  background-color: #111;
  border-radius: 50px;
  cursor: pointer;
  display: inline-block;
  align-items: none;
  padding: 5px;
  position: relative;
  height: 26px;
  width: 50px;
  transform: scale(0.8);
  margin-top: 0vh; /* Adicionar espaço no topo */
  margin-top: 0; /* Adicionar espaço à direita */
}

.label .ball {
  background-color: #fff;
  border-radius: 50%;
  position: fixed;
  top: 2px;
  left: 2px;
  height: 22px;
  width: 22px;
  transform: translateX(0px);
  transition: transform 0.2s linear;
}

.checkbox:checked + .label .ball {
  transform: translateX(24px);
}

.fa-moon {
  color: #f1c40f;
}

.fa-sun {
  color: #f39c12;
}

h1 {
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

nav {
  text-decoration: none;
  font-size: large;
  text-align: ;
  align-items: space-between;
}

.dropdown-btn {
  background-color: none;
  background: none;
  color: black;
  padding: 12px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  position: relative;
}

.dropdown-btn::after {
  content: "\2630"; /* Código Unicode para três traços horizontais */
  font-size: 30px;
  margin-left: 8px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown-btn:hover .dropdown-content {
  display: block;
}
