.form-container {
  max-width: 350px;
  padding: 1rem;
}

#icone {
  /* minha id do icone TN*/
  position: absolute;
  top: 10px;
  width: 100%;
  height: 80px;
  background-image: url("/ProjetoPhp/img/tn.jpg");
  background-size: contain;
  background-repeat: no-repeat;
}
#iconee {
  /* minha id do icone escritorio*/
  position: absolute;
  float: left;
  top: 110px;
  left: 20px;
  width: 100%;
  height: 65px;
  background-image: url(/ProjetoPhp/img/taka.png);
  background-size: contain;
  background-repeat: no-repeat;
}

h1,     /*  todo h1 fica no centro, usar h2 para outras posições */
.center,
.fonte-70,
#lambreta {
  text-align: center;
  color: black;
  font-size: 40px;
}

#lambreta {
  /* id de teste, se trata do fundo branco com letras vermelhas, possivel troca */
  color: red;
  border: 10px double;
  border-radius: 50px;
  text-align: center;
  background: white;
  padding: 10px;
}

.botao:hover {
  /*class=" hover" */
  background-size: cover;
  background-color: red;
}

.borda {
  /*sem borda mas pode trocar, complemento do hover  */
  color: red;
  text-decoration: none;
  padding: 3px;
}

.espaco {
  /*teste de espaço pra centralizar */
  text-align: center;
  background: /* Adicione a cor desejada */ ;
}

.link {
  /*link basico com hover*/
  color: black;
  text-decoration: none;
  margin-right: 10px; /* Espaçamento entre os links */
}

.link:hover {
  text-decoration: underline; /* Adiciona sublinhado ao passar o mouse */
}
.southland-font {
  /*class southland mas não ficou igual */
  font-family: "Southland";
}

.Login {
  /* float pra alinhar no canto direito o login, não está mais utilizado, pode ser feito com display: inline-block*/
  float: right;
}
.Cadastro {
  /* msm coisa do login */
  float: right;
}

p {
  /*PARAGRAFO */
  text-align: center;
  font-size: 30px;
  font-family: Georgia, "Times New Roman", Times, serif;
  background-color: white;
  color: black;
}
ul {
  /* fundo pra complemento de "li", links */

  text-decoration: none;
  text-align: center;
}
li {
  /* link centralizado um ao lado do outro */
  display: inline-block;
  padding: 0.5%;
  text-align: center;
  list-style-type: none;
}
.link {
  text-decoration: none;
  color: black;
}

.dropdown-btn {
  /* meu botão de drop down, testar outros tipos de cursor e talvez uma borda fina preta */
  background-color: white;
  color: black;
  padding: 12px;
  font-size: 10px;
  border: none;
  cursor: pointer;
  position: relative;
}

/* Adicione o ícone de três traços */
.dropdown-btn::after {
  content: "\2630"; /* Código Unicode para três traços horizontais */
  font-size: 5px;
  margin-left: 4px;
}

/* Estilize o conteúdo do dropdown */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: black;
  min-width: 100px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* a box hover do dropdown não fica muito escura */
  z-index: 1;
}

/* Estilize os itens do dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Mude a cor do item do dropdown quando o mouse passar por cima */
.dropdown-content a:hover {
  background-color: black;
}

/* Exiba o dropdown quando o botão for clicado */
.dropdown-btn:hover .dropdown-content {
  display: block;
}

.rotate {
  /* animação de rotação infinita a cada 5s */
  animation: spin 5s linear infinite;
}

.gradient-button {
  /* botão grandiente da direita para esquerda, na ordem de cor vermelho, azul, roxo, verde. verde claro e amarelo */
  background: linear-gradient(
    to right,
    red,
    purple,
    green,
    orange,
    blue,
    darkblue,
    lightblue,
    red,
    pink,
    greenyellow
  );
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
}

.Jurubeba {
  background: radial-gradient(
    to top,
    red,
    blue,
    lightblue,
    green,
    lightgreen,
    yellow,
    gold
  );
}
